.container {
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.container h1 {
  font-size: 2rem;
}

.wrapper {
  display: flex;
}

.column {
  width: 50%;
  margin: 15px;
}

.map {
  min-height: 350px;
}

@media (min-width: 1350px) {
  .container {
    margin-top: 50px;
    width: 1320px;
  }
}
