<header>
  <nav class="main-navbar">
    <div class="logo-header">
      <a class="logo-image" href=""><img src="https://i.imgur.com/U41yRGo.png" alt="logo" height="100px"></a>
    </div>
    <div class="menu-header">
      <ul class="navbar-buttons-list">
        <li class="navbar-button">
          <a routerLink="/o-mnie" routerLinkActive="active">O MNIE</a>
        </li>
        <li class="navbar-button">
          <a routerLink="/kontakt" routerLinkActive="active">KONTAKT</a>
        </li>
        <li class="navbar-button">
          <a routerLink="/pierwsza-wizyta" routerLinkActive="active"
            >PIERWSZA WIZYTA</a
          >
        </li>
        <li class="navbar-button">
          <a routerLink="/artykuly" routerLinkActive="active">ARTYKUŁY</a>
        </li>
        <li class="navbar-button">
          <a routerLink="/cennik" routerLinkActive="active">CENNIK</a>
        </li>
        <li class="navbar-button">
          <a routerLink="/rezerwacja" routerLinkActive="active">REZERWACJA</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
